<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionFormationApp.typeFormation.home.title">Type Formations</span>

        <button id="jh-create-entity" class="btn btn-success float-right jh-create-entity create-type-formation" [routerLink]="['/type-formation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionFormationApp.typeFormation.home.createLabel">
            Create a new Type Formation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typeFormations?.length === 0">
        <span jhiTranslate="gestionFormationApp.typeFormation.home.notFound">No typeFormations found</span>
    </div>

    <br><br>
   <div class="row">
       <div class="col-12">
        <div class="table-responsive" id="entities" *ngIf="typeFormations && typeFormations.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead style="background-color: #0070c0;color: white;">
                    <tr>
                        <th scope="col" ><span jhiTranslate="gestionFormationApp.typeFormation.libelleTypeFormation">Libelle Type Formation</span></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let typeFormation of typeFormations ;trackBy: trackId">
                        <td>{{ typeFormation.libelleTypeFormation }}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/type-formation', typeFormation.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
    
                                <button type="submit" (click)="delete(typeFormation)"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon icon="times"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
       </div>
   </div>
</div>
