<div class="card">
    <div class="card-header save-card-design">
        <h2 id="jhi-approche-pedagogique-heading" jhiTranslate="gestionFormationApp.approchePedagogique.home.createOrEditLabel">Create or edit a Approche Pedagogique</h2>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-8">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    
        
                    <div>
                        <jhi-alert-error></jhi-alert-error>
        
                        <div class="form-group" [hidden]="true">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                        </div>
        
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gestionFormationApp.approchePedagogique.libelleApproche" for="field_libelleApproche">Libelle Approche</label>
                            <input type="text" class="form-control" name="libelleApproche" id="field_libelleApproche"
                                   formControlName="libelleApproche"/>
                            <div *ngIf="editForm.get('libelleApproche')!.invalid && (editForm.get('libelleApproche')!.dirty || editForm.get('libelleApproche')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('libelleApproche')?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
        
                    <div>
                        <button type="button" id="cancel-save" class="btn btn-outline-warning" (click)="cancel()">
                            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
        
                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>
