<div class="card">
    <div class="card-header save-card-design">
        <div class="row">
            <div class="col-8">
                <h2 id="jhi-niveau-instruction-heading" jhiTranslate="gestionFormationApp.niveauInstruction.home.createOrEditLabel">Create or edit a Niveau Instruction</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-5">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    <div>
                        <jhi-alert-error></jhi-alert-error>
        
                        <div class="form-group" [hidden]="true">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                        </div>
        
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gestionFormationApp.niveauInstruction.niveauInstruction" for="field_niveauInstruction">Niveau Instruction</label>
                            <input type="text" class="form-control" name="niveauInstruction" id="field_niveauInstruction"
                                   formControlName="niveauInstruction"/>
                            <div *ngIf="editForm.get('niveauInstruction')!.invalid && (editForm.get('niveauInstruction')!.dirty || editForm.get('niveauInstruction')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('niveauInstruction')?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
        
                    <div>
                        <button type="button" id="cancel-save" class="btn btn-outline-warning" (click)="cancel()">
                            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
        
                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-outline-primary">
                            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>


