<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="communes">
            <h2><span jhiTranslate="gestionFormationApp.communes.detail.title">Communes</span> {{ communes.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionFormationApp.communes.libelleCommune">Libelle Commune</span></dt>
                <dd>
                    <span>{{ communes.libelleCommune }}</span>
                </dd>
                <dt><span jhiTranslate="gestionFormationApp.communes.sfr">Sfr</span></dt>
                <dd>
                    <div *ngIf="communes.sfr">
                        <a [routerLink]="['/sfr', communes.sfr?.id, 'view']">{{ communes.sfr?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionFormationApp.communes.provinces">Provinces</span></dt>
                <dd>
                    <div *ngIf="communes.provinces">
                        <a [routerLink]="['/provinces', communes.provinces?.id, 'view']">{{ communes.provinces?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/communes', communes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
