<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionFormationApp.gestionnaire.home.title">Gestionnaires</span>

        <button id="jh-create-entity" class="btn btn-success float-right jh-create-entity create-gestionnaire" (click)="savemodal()">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionFormationApp.gestionnaire.home.createLabel">
            Create a new Gestionnaire
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="gestionnaires?.length === 0">
        <span jhiTranslate="gestionFormationApp.gestionnaire.home.notFound">No gestionnaires found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="gestionnaires && gestionnaires.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead class="f-table-header">
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="nomComplet"><span jhiTranslate="gestionFormationApp.gestionnaire.nomComplet">Nom Complet</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contactsGestionnaires"><span jhiTranslate="gestionFormationApp.gestionnaire.contactsGestionnaires">Contacts Gestionnaires</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="emploi"><span jhiTranslate="gestionFormationApp.gestionnaire.emploi">Emploi</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gestionnaire of gestionnaires ;trackBy: trackId">
                    <td>{{ gestionnaire.nomComplet }}</td>
                    <td>{{ gestionnaire.contactsGestionnaires }}</td>
                    <td>{{ gestionnaire.emploi }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                           <!--  <button type="submit"
                                    [routerLink]="['/gestionnaire', gestionnaire.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button> -->

                            <button type="submit"
                                    (click)="updatemodal(gestionnaire)"
                                    class="btn btn-outline-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(gestionnaire)"
                                    class="btn btn-outline-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="gestionnaires && gestionnaires.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
