<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionFormationApp.infrastructure.home.title">Infrastructures</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-infrastructure" [routerLink]="['/infrastructure/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionFormationApp.infrastructure.home.createLabel">
            Create a new Infrastructure
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="infrastructures?.length === 0">
        <span jhiTranslate="gestionFormationApp.infrastructure.home.notFound">No infrastructures found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="infrastructures && infrastructures.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateElaboration"><span jhiTranslate="gestionFormationApp.infrastructure.dateElaboration">Date Elaboration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fonctionnalite"><span jhiTranslate="gestionFormationApp.infrastructure.fonctionnalite">Fonctionnalite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="etat"><span jhiTranslate="gestionFormationApp.infrastructure.etat">Etat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeinfrastructure.id"><span jhiTranslate="gestionFormationApp.infrastructure.typeinfrastructure">Typeinfrastructure</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="centreformation.id"><span jhiTranslate="gestionFormationApp.infrastructure.centreformation">Centreformation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let infrastructure of infrastructures ;trackBy: trackId">
                    <td><a [routerLink]="['/infrastructure', infrastructure.id, 'view']">{{ infrastructure.id }}</a></td>
                    <td>{{ infrastructure.dateElaboration | date:'mediumDate' }}</td>
                    <td>{{ infrastructure.fonctionnalite }}</td>
                    <td>{{ infrastructure.etat }}</td>
                    <td>
                        <div *ngIf="infrastructure.typeinfrastructure">
                            <a [routerLink]="['/type-infratructure', infrastructure.typeinfrastructure?.id, 'view']" >{{ infrastructure.typeinfrastructure?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="infrastructure.centreformation">
                            <a [routerLink]="['/centre-formation', infrastructure.centreformation?.id, 'view']" >{{ infrastructure.centreformation?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/infrastructure', infrastructure.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/infrastructure', infrastructure.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(infrastructure)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="infrastructures && infrastructures.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
