<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="compositionKits">
            <h2><span jhiTranslate="gestionFormationApp.compositionKits.detail.title">Composition Kits</span> {{ compositionKits.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionFormationApp.compositionKits.libelleKits">Libelle Kits</span></dt>
                <dd>
                    <span>{{ compositionKits.libelleKits }}</span>
                </dd>
                <dt><span jhiTranslate="gestionFormationApp.compositionKits.quantiteKits">Quantite Kits</span></dt>
                <dd>
                    <span>{{ compositionKits.quantiteKits }}</span>
                </dd>
                <dt><span jhiTranslate="gestionFormationApp.compositionKits.kits">Kits</span></dt>
                <dd>
                    <span *ngFor="let kits of compositionKits.kits; let last = last">
                        <a [routerLink]="['/kits', kits?.id, 'view']">{{ kits.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/composition-kits', compositionKits.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
