<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionFormationApp.compositionKits.home.title">Composition Kits</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-composition-kits" [routerLink]="['/composition-kits/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionFormationApp.compositionKits.home.createLabel">
            Create a new Composition Kits
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="compositionKits?.length === 0">
        <span jhiTranslate="gestionFormationApp.compositionKits.home.notFound">No compositionKits found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="compositionKits && compositionKits.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gestionFormationApp.compositionKits.libelleKits">Libelle Kits</span></th>
                    <th scope="col" ><span jhiTranslate="gestionFormationApp.compositionKits.quantiteKits">Quantite Kits</span></th>
                    <th scope="col" ><span jhiTranslate="gestionFormationApp.compositionKits.kits">Kits</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compositionKits of compositionKits ;trackBy: trackId">
                    <td><a [routerLink]="['/composition-kits', compositionKits.id, 'view']">{{ compositionKits.id }}</a></td>
                    <td>{{ compositionKits.libelleKits }}</td>
                    <td>{{ compositionKits.quantiteKits }}</td>
                    <td>
                        <span *ngFor="let kits of compositionKits.kits; let last = last">
                            <a class="form-control-static" [routerLink]="['/kits', kits?.id, 'view']">{{ kits.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/composition-kits', compositionKits.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/composition-kits', compositionKits.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(compositionKits)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
