<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionFormationApp.personnel.home.title">Personnel</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-personnel" [routerLink]="['/personnel/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionFormationApp.personnel.home.createLabel">
            Create a new Personnel
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="personnel?.length === 0">
        <span jhiTranslate="gestionFormationApp.personnel.home.notFound">No personnel found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="personnel && personnel.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nomPers"><span jhiTranslate="gestionFormationApp.personnel.nomPers">Nom Pers</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenomPers"><span jhiTranslate="gestionFormationApp.personnel.prenomPers">Prenom Pers</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telPers"><span jhiTranslate="gestionFormationApp.personnel.telPers">Tel Pers</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="emailPers"><span jhiTranslate="gestionFormationApp.personnel.emailPers">Email Pers</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sfrPersonnel.id"><span jhiTranslate="gestionFormationApp.personnel.sfrPersonnel">Sfr Personnel</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="personnel.id"><span jhiTranslate="gestionFormationApp.personnel.personnel">Personnel</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let personnel of personnel ;trackBy: trackId">
                    <td><a [routerLink]="['/personnel', personnel.id, 'view']">{{ personnel.id }}</a></td>
                    <td>{{ personnel.nomPers }}</td>
                    <td>{{ personnel.prenomPers }}</td>
                    <td>{{ personnel.telPers }}</td>
                    <td>{{ personnel.emailPers }}</td>
                    <td>
                        <div *ngIf="personnel.sfrPersonnel">
                            <a [routerLink]="['/sfr', personnel.sfrPersonnel?.id, 'view']" >{{ personnel.sfrPersonnel?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="personnel.personnel">
                            <a [routerLink]="['/profil-personnel', personnel.personnel?.id, 'view']" >{{ personnel.personnel?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/personnel', personnel.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/personnel', personnel.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(personnel)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="personnel && personnel.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
