<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-personnel-heading" jhiTranslate="gestionFormationApp.personnel.home.createOrEditLabel">Create or edit a Personnel</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionFormationApp.personnel.nomPers" for="field_nomPers">Nom Pers</label>
                    <input type="text" class="form-control" name="nomPers" id="field_nomPers"
                           formControlName="nomPers"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionFormationApp.personnel.prenomPers" for="field_prenomPers">Prenom Pers</label>
                    <input type="text" class="form-control" name="prenomPers" id="field_prenomPers"
                           formControlName="prenomPers"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionFormationApp.personnel.telPers" for="field_telPers">Tel Pers</label>
                    <input type="text" class="form-control" name="telPers" id="field_telPers"
                           formControlName="telPers"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionFormationApp.personnel.emailPers" for="field_emailPers">Email Pers</label>
                    <input type="text" class="form-control" name="emailPers" id="field_emailPers"
                           formControlName="emailPers"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionFormationApp.personnel.sfrPersonnel" for="field_sfrPersonnel">Sfr Personnel</label>
                    <select class="form-control" id="field_sfrPersonnel" name="sfrPersonnel" formControlName="sfrPersonnel">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sfrOption.id === editForm.get('sfrPersonnel')!.value?.id ? editForm.get('sfrPersonnel')!.value : sfrOption" *ngFor="let sfrOption of sfrs; trackBy: trackById">{{ sfrOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionFormationApp.personnel.personnel" for="field_personnel">Personnel</label>
                    <select class="form-control" id="field_personnel" name="personnel" formControlName="personnel">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profilPersonnelOption.id === editForm.get('personnel')!.value?.id ? editForm.get('personnel')!.value : profilPersonnelOption" *ngFor="let profilPersonnelOption of profilpersonnels; trackBy: trackById">{{ profilPersonnelOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
