<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="activiteInstallation">
            <h2><span jhiTranslate="gestionFormationApp.activiteInstallation.detail.title">Activite Installation</span> {{ activiteInstallation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionFormationApp.activiteInstallation.libelleActivite">Libelle Activite</span></dt>
                <dd>
                    <span>{{ activiteInstallation.libelleActivite }}</span>
                </dd>
                <dt><span jhiTranslate="gestionFormationApp.activiteInstallation.kits">Kits</span></dt>
                <dd>
                    <span *ngFor="let kits of activiteInstallation.kits; let last = last">
                        <a [routerLink]="['/composition-kits', kits?.id, 'view']">{{ kits.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/activite-installation', activiteInstallation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
