<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="formateurs">
            <h2><span jhiTranslate="gestionFormationApp.formateurs.detail.title">Formateurs</span> {{ formateurs.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionFormationApp.formateurs.nomComplet">Nom Complet</span></dt>
                <dd>
                    <span>{{ formateurs.nomComplet }}</span>
                </dd>
                <dt><span jhiTranslate="gestionFormationApp.formateurs.emplois">Emplois</span></dt>
                <dd>
                    <span>{{ formateurs.emplois }}</span>
                </dd>
                <dt><span jhiTranslate="gestionFormationApp.formateurs.contactformateur">Contactformateur</span></dt>
                <dd>
                    <span>{{ formateurs.contactformateur }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/formateurs', formateurs.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
