<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="apprenantes">
            <h2><span jhiTranslate="gestionFormationApp.apprenantes.detail.title">Apprenantes</span> {{ apprenantes.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionFormationApp.apprenantes.matricule">Matricule</span></dt>
                <dd>
                    <span>{{ apprenantes.matricule }}</span>
                </dd>
                <dt><span jhiTranslate="gestionFormationApp.apprenantes.nom">Nom</span></dt>
                <dd>
                    <span>{{ apprenantes.nom }}</span>
                </dd>
                <dt><span jhiTranslate="gestionFormationApp.apprenantes.prenom">Prenom</span></dt>
                <dd>
                    <span>{{ apprenantes.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="gestionFormationApp.apprenantes.dateNaissance">Date Naissance</span></dt>
                <dd>
                    <span>{{ apprenantes.dateNaissance }}</span>
                </dd>
                <dt><span jhiTranslate="gestionFormationApp.apprenantes.sexe">Sexe</span></dt>
                <dd>
                    <span>{{ apprenantes.sexe }}</span>
                </dd>
                <dt><span jhiTranslate="gestionFormationApp.apprenantes.contact">Contact</span></dt>
                <dd>
                    <span>{{ apprenantes.contact }}</span>
                </dd>
                <dt><span jhiTranslate="gestionFormationApp.apprenantes.iscandidat">Iscandidat</span></dt>
                <dd>
                    <span>{{ apprenantes.iscandidat }}</span>
                </dd>
                <dt><span jhiTranslate="gestionFormationApp.apprenantes.situationMatrimonial">Situation Matrimonial</span></dt>
                <dd>
                    <span>{{ apprenantes.situationMatrimonial }}</span>
                </dd>
                <dt><span jhiTranslate="gestionFormationApp.apprenantes.charger">Charger</span></dt>
                <dd>
                    <span>{{ apprenantes.charger }}</span>
                </dd>
                <dt><span jhiTranslate="gestionFormationApp.apprenantes.localite">Localite</span></dt>
                <dd>
                    <span>{{ apprenantes.localite }}</span>
                </dd>
                <dt><span jhiTranslate="gestionFormationApp.apprenantes.sortiepromotion">Sortiepromotion</span></dt>
                <dd>
                    <div *ngIf="apprenantes.sortiepromotion">
                        <a [routerLink]="['/sortie-promotion', apprenantes.sortiepromotion?.id, 'view']">{{ apprenantes.sortiepromotion?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/apprenantes', apprenantes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
