<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionFormationApp.apprenantes.home.title">Apprenantes</span>

        <button id="jh-create-entity" class="btn btn-success float-right jh-create-entity create-apprenantes" [routerLink]="['/apprenantes/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionFormationApp.apprenantes.home.createLabel">
            Create a new Apprenantes
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="apprenantes?.length === 0">
        <span jhiTranslate="gestionFormationApp.apprenantes.home.notFound">No apprenantes found</span>
    </div>
<br><br>
    <div class="table-responsive" id="entities" *ngIf="apprenantes && apprenantes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead style="background-color: #0070c0;color: white;"> 
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="matricule"><span jhiTranslate="gestionFormationApp.apprenantes.matricule">Matricule</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="gestionFormationApp.apprenantes.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenom"><span jhiTranslate="gestionFormationApp.apprenantes.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sexe"><span jhiTranslate="gestionFormationApp.apprenantes.sexe">Sexe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typecandidat"><span jhiTranslate="gestionFormationApp.apprenantes.typecandidat">Typecandidat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="localite"><span jhiTranslate="gestionFormationApp.apprenantes.localite">Localite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let apprenantes of apprenantes ;trackBy: trackId">
                    <td>{{ apprenantes.matricule }}</td>
                    <td>{{ apprenantes.nom }}</td>
                    <td>{{ apprenantes.prenom }}</td>
                    <td jhiTranslate="{{ 'gestionFormationApp.Sexe.' + apprenantes.sexe }}">{{ apprenantes.sexe }}</td>
                    <td jhiTranslate="{{ 'gestionFormationApp.Examen.' + apprenantes.typecandidat }}">{{ apprenantes.typecandidat }}</td>
                    <td>{{ apprenantes.localite }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/apprenantes', apprenantes.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/apprenantes', apprenantes.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(apprenantes)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="apprenantes && apprenantes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
