<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionFormationApp.conditionAccess.home.title">Condition Accesses</span>

        <button id="jh-create-entity" class="btn btn-success float-right jh-create-entity create-condition-access" (click)="savemodal()">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionFormationApp.conditionAccess.home.createLabel">
            Create a new Condition Access
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="conditionAccesses?.length === 0">
        <span jhiTranslate="gestionFormationApp.conditionAccess.home.notFound">No conditionAccesses found</span>
    </div>
    <br><br>
    <div class="table-responsive" id="entities" *ngIf="conditionAccesses && conditionAccesses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead style="background-color: #0070c0;color: white;">
                <tr>
                    <th scope="col" ><span jhiTranslate="gestionFormationApp.conditionAccess.libelleConditon">Libelle Conditon</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let conditionAccess of conditionAccesses ;trackBy: trackId">
                    <td>{{ conditionAccess.libelleConditon }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                          <!-- 
                              <button type="submit"
                                    [routerLink]="['/condition-access', conditionAccess.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                          -->

                            <button type="submit"
                                   (click)="updatemodal(conditionAccess)"
                                    class="btn btn-outline-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(conditionAccess)"
                                    class="btn btn-outline-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
