<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-amenagement-heading" jhiTranslate="gestionFormationApp.amenagement.home.createOrEditLabel">Create or edit a Amenagement</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionFormationApp.amenagement.superficieTotal" for="field_superficieTotal">Superficie Total</label>
                    <input type="number" class="form-control" name="superficieTotal" id="field_superficieTotal"
                           formControlName="superficieTotal"/>
                    <div *ngIf="editForm.get('superficieTotal')!.invalid && (editForm.get('superficieTotal')!.dirty || editForm.get('superficieTotal')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('superficieTotal')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('superficieTotal')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionFormationApp.amenagement.superficieEmbave" for="field_superficieEmbave">Superficie Embave</label>
                    <input type="number" class="form-control" name="superficieEmbave" id="field_superficieEmbave"
                           formControlName="superficieEmbave"/>
                    <div *ngIf="editForm.get('superficieEmbave')!.invalid && (editForm.get('superficieEmbave')!.dirty || editForm.get('superficieEmbave')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('superficieEmbave')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('superficieEmbave')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionFormationApp.amenagement.etats" for="field_etats">Etats</label>
                    <input type="text" class="form-control" name="etats" id="field_etats"
                           formControlName="etats"/>
                    <div *ngIf="editForm.get('etats')!.invalid && (editForm.get('etats')!.dirty || editForm.get('etats')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('etats')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionFormationApp.amenagement.typeamenagement" for="field_typeamenagement">Typeamenagement</label>
                    <select class="form-control" id="field_typeamenagement" name="typeamenagement" formControlName="typeamenagement">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typeAmenagementOption.id === editForm.get('typeamenagement')!.value?.id ? editForm.get('typeamenagement')!.value : typeAmenagementOption" *ngFor="let typeAmenagementOption of typeamenagements; trackBy: trackById">{{ typeAmenagementOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionFormationApp.amenagement.centreformation" for="field_centreformation">Centreformation</label>
                    <select class="form-control" id="field_centreformation" name="centreformation" formControlName="centreformation">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="centreFormationOption.id === editForm.get('centreformation')!.value?.id ? editForm.get('centreformation')!.value : centreFormationOption" *ngFor="let centreFormationOption of centreformations; trackBy: trackById">{{ centreFormationOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
