<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionFormationApp.installation.home.title">Installations</span>

        <button id="jh-create-entity" class="btn btn-success float-right jh-create-entity create-installation" [routerLink]="['/installation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionFormationApp.installation.home.createLabel">
            Create a new Installation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="installations?.length === 0">
        <span jhiTranslate="gestionFormationApp.installation.home.notFound">No installations found</span>
    </div>

    <br><br>

    <div class="table-responsive" id="entities" *ngIf="installations && installations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead class="f-table-header">
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="anneesInstallation"><span jhiTranslate="gestionFormationApp.installation.anneesInstallation">Annees Installation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateIntallation"><span jhiTranslate="gestionFormationApp.installation.dateIntallation">Date Intallation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lieuInstallation"><span jhiTranslate="gestionFormationApp.installation.lieuInstallation">Lieu Installation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iskit"><span jhiTranslate="gestionFormationApp.installation.iskit">Iskit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="installation.id"><span jhiTranslate="gestionFormationApp.installation.installation">Installation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let installation of installations ;trackBy: trackId">

                    <td>{{ installation.anneesInstallation }}</td>
                    <td>{{ installation.dateIntallation | date:'shortDate' }}</td>
                    <td>{{ installation.lieuInstallation }}</td>
                    <td>
                        <span *ngIf="installation.iskit" style="background-color: green;color: white">Oui</span>
                        <span *ngIf="!installation.iskit" style="background-color: red;color: white">Non</span>
                    </td>
                    <td>
                        <div *ngIf="installation.installation">
                          <strong>Matricule: </strong>  {{ installation.installation?.sortiepromotion?.inscriptionApprenant?.matricule }} <br>
                            <strong>Nom & prenom: </strong> <strong>Matricule: </strong>  {{ installation.installation?.sortiepromotion?.inscriptionApprenant?.nom }} {{ installation.installation?.sortiepromotion?.inscriptionApprenant?.prenom }}
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    (click)="viewmodal(installation)"
                                    class="btn btn-outline-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/installation', installation.id, 'edit']"
                                    class="btn btn-outline-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(installation)"
                                    class="btn btn-outline-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="installations && installations.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
