<nav  class="navbar navbar-dark navbar-expand-md top-bar-color">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span jhiTranslate="global.title" class="navbar-title">DGFOMR</span>
    </a>

    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <button class="btn btn-success" *ngSwitchCase="false">
                <li >
                    <a class="dropdown-item" (click)="login()" id="login">
                        <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                        <span jhiTranslate="global.menu.account.login">Sign in</span>
                    </a>
                </li>
            </button>
            <!--
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>
            -->
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <span jhiTranslate="global.menu.entities.inscription">
                            Inscription
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                    <li>
                        <a class="dropdown-item" routerLink="inscription" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.entities.inscriptionApprenants">Inscription</span>
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" routerLink="formateur-centre" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.entities.formateurCentre">Formateur Centre</span>
                        </a>
                    </li>


                     
                    <li>
                        <a class="dropdown-item" routerLink="formation-centre-formation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.entities.formationCentreFormation">Formation Centre Formation</span>
                        </a>
                    </li>
                
                </ul>
            </li>
            
            
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <span jhiTranslate="global.menu.ginstallation.title">
                            Installation
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                    <li>
                        <a class="dropdown-item" routerLink="sortie-promotion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.sortiePromotion">Sortie Promotion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="installation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.installation">Installation</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="activite-installation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.activiteInstallation">Activite Installation</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="kits" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.kits">Kits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="composition-kits" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.compositionKits">Composition Kits</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>


            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <span jhiTranslate="global.menu.gformation.title">
                            Formations
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">

                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->

                    <li>
                        <a class="dropdown-item" routerLink="formateurs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.formateurs">Formateurs</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="apprenantes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.apprenantes">Apprenantes</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="formations" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.formations">Formations</span>
                        </a>
                    </li>
       
                
                    <li>
                        <a class="dropdown-item" routerLink="specialites" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.specialites">Specialites</span>
                        </a>
                    </li>
                  
                    <li>
                        <a class="dropdown-item" routerLink="contributions" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.contributions">Contributions</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="gestionnaire" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.gestionnaire">Gestionnaire</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="promoteurs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.promoteurs">Promoteurs</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="public-cible" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.publicCible">Public Cible</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="niveau-recrutement" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.niveauRecrutement">Niveau Recrutement</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="centre-formation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.centreFormation">Centre Formation</span>
                        </a>
                    </li>

                </ul>
            </li>



            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <fa-icon icon="cogs"></fa-icon>
                        <span jhiTranslate="global.menu.parametrage.title">
                            Paramètrage
                        </span>
                    </span>
                </a>
                
                
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                   
                    <li>
                        <a class="dropdown-item" routerLink="approche-pedagogique" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
    
                            <span jhiTranslate="global.menu.entities.approchePedagogique">Approche Pedagogique</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="domaine-formation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.domaineFormation">Domaine Formation</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="type-formation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.typeFormation">Type Formation</span>
                        </a>
                    </li>
                    
                    <li>
                        <a class="dropdown-item" routerLink="regime" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.entities.regime">Regime</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="niveau-instruction" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.niveauInstruction">Niveau Instruction</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="region" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.entities.region">Region</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="provinces" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.entities.provinces">Provinces</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="communes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.entities.communes">Communes</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="villages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.villages">Villages</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>

            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="global.menu.ginfractructures.title">
                           Infrastructure
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                    <li>
                    <a class="dropdown-item" routerLink="type-infratructure" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                        <span jhiTranslate="global.menu.entities.typeInfratructure">Type Infratructure</span>
                    </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="type-amenagement" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.typeAmenagement">Type Amenagement</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="infrastructure" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.infrastructure">Infrastructure</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="amenagement" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">

                            <span jhiTranslate="global.menu.entities.amenagement">Amenagement</span>
                        </a>
                    </li>

                    <!-- 
                        
                    <li>
                        <a class="dropdown-item" routerLink="region" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.region">Region</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="provinces" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.provinces">Provinces</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="communes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.communes">Communes</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="villages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.villages">Villages</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="gestionnaire" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.gestionnaire">Gestionnaire</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="centre-formation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.centreFormation">Centre Formation</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="formateurs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.formateurs">Formateurs</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="typecandidat" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.typecandidat">Typecandidat</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="apprenantes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.apprenantes">Apprenantes</span>
                        </a>
                    </li>
                   
                    <li>
                        <a class="dropdown-item" routerLink="formations" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.formations">Formations</span>
                        </a>
                    </li>
                    
                    <li>
                        <a class="dropdown-item" routerLink="niveau-instruction" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.niveauInstruction">Niveau Instruction</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="sortie-promotion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.sortiePromotion">Sortie Promotion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="installation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.installation">Installation</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="type-infratructure" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.typeInfratructure">Type Infratructure</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="type-amenagement" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.typeAmenagement">Type Amenagement</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="kits" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.kits">Kits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="composition-kits" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.compositionKits">Composition Kits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="promoteurs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.promoteurs">Promoteurs</span>
                        </a>
                    </li>
                 
                    -->
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
