<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="provinces">
            <h2><span jhiTranslate="gestionFormationApp.provinces.detail.title">Provinces</span> {{ provinces.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionFormationApp.provinces.libelleProvince">Libelle Province</span></dt>
                <dd>
                    <span>{{ provinces.libelleProvince }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/provinces', provinces.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
