<div class="card">
    <div class="card-header save-card-design">
        <h2 id="jhi-activite-installation-heading" jhiTranslate="gestionFormationApp.activiteInstallation.home.createOrEditLabel">Create or edit a Activite Installation</h2>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-8">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">

                    <div>
                        <jhi-alert-error></jhi-alert-error>

                        <div class="form-group" [hidden]="!editForm.get('id')!.value">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gestionFormationApp.activiteInstallation.libelleActivite" for="field_libelleActivite">Libelle Activite</label>
                            <input type="text" class="form-control" name="libelleActivite" id="field_libelleActivite"
                                   formControlName="libelleActivite"/>
                            <div *ngIf="editForm.get('libelleActivite')!.invalid && (editForm.get('libelleActivite')!.dirty || editForm.get('libelleActivite')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('libelleActivite')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label jhiTranslate="gestionFormationApp.activiteInstallation.kits" for="field_kits">Kits</label>
                            <!--<select class="form-control" id="field_kits" multiple name="kits" formControlName="kits">
                                <option [ngValue]="getSelected(editForm.get('kits')!.value, compositionKitsOption)" *ngFor="let compositionKitsOption of compositionkits; trackBy: trackById">{{ compositionKitsOption.id }}</option>
                            </select>-->

                            <ng-select
                                name="kits" formControlName="kits"
                                [multiple]="true"
                                [closeOnSelect]="false"
                                [searchable]="true"
                                placeholder="Selectionner les kits"  >
                                <ng-option [value]="getSelected(editForm.get('kits')!.value, compositionKitsOption)" *ngFor="let compositionKitsOption of compositionkits; trackBy: trackById">Kit:{{ compositionKitsOption.libelleKits }} Quantité:{{compositionKitsOption.quantiteKits}}</ng-option>
                            </ng-select>

                        </div>
                    </div>

                    <div>
                        <button type="button" id="cancel-save" class="btn btn-outline-warning" (click)="cancel()">
                            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>

                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
