/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}
.home-card-design {
  margin-left: 5%;
  margin-top: 10%;
}
.armoirie-img {
  width: 40%;
  height: 40%;
  margin-left: 10%;
}
.formation-card-title {
  background-color: #17a2b8;
}
.foncier-card-title {
  background-color: #926d27;
}
.op-card-title {
  background-color: #ffc107;
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}
