<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionFormationApp.sfr.home.title">Sfrs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sfr" [routerLink]="['/sfr/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionFormationApp.sfr.home.createLabel">
            Create a new Sfr
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sfrs?.length === 0">
        <span jhiTranslate="gestionFormationApp.sfr.home.notFound">No sfrs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sfrs && sfrs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nbrPersonne"><span jhiTranslate="gestionFormationApp.sfr.nbrPersonne">Nbr Personne</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="structureLocale.id"><span jhiTranslate="gestionFormationApp.sfr.structureLocale">Structure Locale</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sfr of sfrs ;trackBy: trackId">
                    <td><a [routerLink]="['/sfr', sfr.id, 'view']">{{ sfr.id }}</a></td>
                    <td>{{ sfr.nbrPersonne }}</td>
                    <td>
                        <div *ngIf="sfr.structureLocale">
                            <a [routerLink]="['/structure-locale', sfr.structureLocale?.id, 'view']" >{{ sfr.structureLocale?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sfr', sfr.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sfr', sfr.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sfr)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="sfrs && sfrs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
