<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionFormationApp.formationCentreFormation.home.title">Formation Centre Formations</span>

        <button id="jh-create-entity" class="btn btn-success float-right jh-create-entity create-formation-centre-formation" (click)="savemodale()">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionFormationApp.formationCentreFormation.home.createLabel">
            Create a new Formation Centre Formation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>
    <br><br>
    <div class="alert alert-warning" id="no-result" *ngIf="formationCentreFormations?.length === 0">
        <span jhiTranslate="gestionFormationApp.formationCentreFormation.home.notFound">No formationCentreFormations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="formationCentreFormations && formationCentreFormations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead class="f-table-header">
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="datedebut"><span jhiTranslate="gestionFormationApp.formationCentreFormation.datedebut">Datedebut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateClore"><span jhiTranslate="gestionFormationApp.formationCentreFormation.dateClore">Date Clore</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="formationcentre.id"><span jhiTranslate="gestionFormationApp.formationCentreFormation.formationcentre">Formationcentre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="centreformation.id"><span jhiTranslate="gestionFormationApp.formationCentreFormation.centreformation">Centreformation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let formationCentreFormation of formationCentreFormations ;trackBy: trackId">
                    <td>{{ formationCentreFormation.datedebut | date:'shortDate' }}</td>
                    <td>{{ formationCentreFormation.dateClore | date:'shortDate' }}</td>
                    <td>
                        <div *ngIf="formationCentreFormation.formationcentre">
                            {{ formationCentreFormation.formationcentre?.denomination}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="formationCentreFormation.centreformation">
                            {{ formationCentreFormation.centreformation?.lebelleFormation }}
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                           <!-- <button type="submit"
                                    [routerLink]="['/formation-centre-formation', formationCentreFormation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>-->

                            <button type="submit"
                                    (click)="updatemodale(formationCentreFormation)"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(formationCentreFormation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="formationCentreFormations && formationCentreFormations.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
