<div class="row justify-content-center" >
    <div class="col-12">
        <div *ngIf="formations">

            <div class="card">
                <div class="card-header">
                    <h2><strong><span jhiTranslate="gestionFormationApp.formations.detail.title">Formations</span> {{ formations.lebelleFormation }}</strong></h2>
                    <hr>
                </div>
                <div class="card-body">
                    <jhi-alert-error></jhi-alert-error>

                    <dl class="row-md jh-entity-details">
                        
                        <div class="row">
                            <div class="col-6">
                                <dt><span jhiTranslate="gestionFormationApp.formations.theme">Theme</span></dt>
                                <dd>
                                    <span>{{ formations.theme }}</span>
                                </dd>
                            </div>
                            <div class="col-6">
                                <dt><span jhiTranslate="gestionFormationApp.formations.lebelleFormation">Lebelle Formation</span></dt>
                        <dd>
                            <span>{{ formations.lebelleFormation }}</span>
                        </dd>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-6">
                                <dt><span jhiTranslate="gestionFormationApp.formations.coutFormation">Cout Formation</span></dt>
                                <dd>
                                    <span>{{ formations.coutFormation }}</span>
                                </dd>
                            </div>
                            <div class="col-6">
                                <dt><span jhiTranslate="gestionFormationApp.formations.sourceFinancement">Source Financement</span></dt>
                        <dd>
                            <span>{{ formations.sourceFinancement }}</span>
                        </dd>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <dt><span jhiTranslate="gestionFormationApp.formations.formationTypeFormation">Formation Type Formation</span></dt>
                                <dd>
                                    <div *ngIf="formations.formationTypeFormation">
                                        {{ formations.formationTypeFormation?.libelleTypeFormation }}
                                    </div>
                                </dd>
                            </div>
                        </div>
                    </dl>
        
                    <button type="submit"
                            (click)="cancel()"
                            class="btn btn-outline-warning">
                        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

