<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profilPersonnel">
            <h2><span jhiTranslate="gestionFormationApp.profilPersonnel.detail.title">Profil Personnel</span> {{ profilPersonnel.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionFormationApp.profilPersonnel.libelleProfil">Libelle Profil</span></dt>
                <dd>
                    <span>{{ profilPersonnel.libelleProfil }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profil-personnel', profilPersonnel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
