<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="domaineFormation">
            <h2><span jhiTranslate="gestionFormationApp.domaineFormation.detail.title">Domaine Formation</span> {{ domaineFormation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionFormationApp.domaineFormation.libelleDomaine">Libelle Domaine</span></dt>
                <dd>
                    <span>{{ domaineFormation.libelleDomaine }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/domaine-formation', domaineFormation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
