<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-imma-domaine-heading" jhiTranslate="gestionFormationApp.immaDomaine.home.createOrEditLabel">Create or edit a Imma Domaine</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionFormationApp.immaDomaine.annee" for="field_annee">Annee</label>
                    <input type="number" class="form-control" name="annee" id="field_annee"
                           formControlName="annee"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionFormationApp.immaDomaine.superficeTotInventorie" for="field_superficeTotInventorie">Superfice Tot Inventorie</label>
                    <input type="number" class="form-control" name="superficeTotInventorie" id="field_superficeTotInventorie"
                           formControlName="superficeTotInventorie"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionFormationApp.immaDomaine.superficieTotImmatricule" for="field_superficieTotImmatricule">Superficie Tot Immatricule</label>
                    <input type="number" class="form-control" name="superficieTotImmatricule" id="field_superficieTotImmatricule"
                           formControlName="superficieTotImmatricule"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionFormationApp.immaDomaine.superficieTotEncadre" for="field_superficieTotEncadre">Superficie Tot Encadre</label>
                    <input type="number" class="form-control" name="superficieTotEncadre" id="field_superficieTotEncadre"
                           formControlName="superficieTotEncadre"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionFormationApp.immaDomaine.sfrImmaDomaine" for="field_sfrImmaDomaine">Sfr Imma Domaine</label>
                    <select class="form-control" id="field_sfrImmaDomaine" name="sfrImmaDomaine" formControlName="sfrImmaDomaine">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sfrOption.id === editForm.get('sfrImmaDomaine')!.value?.id ? editForm.get('sfrImmaDomaine')!.value : sfrOption" *ngFor="let sfrOption of sfrs; trackBy: trackById">{{ sfrOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
