<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionFormationApp.immaDomaine.home.title">Imma Domaines</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-imma-domaine" [routerLink]="['/imma-domaine/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestionFormationApp.immaDomaine.home.createLabel">
            Create a new Imma Domaine
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="immaDomaines?.length === 0">
        <span jhiTranslate="gestionFormationApp.immaDomaine.home.notFound">No immaDomaines found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="immaDomaines && immaDomaines.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="annee"><span jhiTranslate="gestionFormationApp.immaDomaine.annee">Annee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="superficeTotInventorie"><span jhiTranslate="gestionFormationApp.immaDomaine.superficeTotInventorie">Superfice Tot Inventorie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="superficieTotImmatricule"><span jhiTranslate="gestionFormationApp.immaDomaine.superficieTotImmatricule">Superficie Tot Immatricule</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="superficieTotEncadre"><span jhiTranslate="gestionFormationApp.immaDomaine.superficieTotEncadre">Superficie Tot Encadre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sfrImmaDomaine.id"><span jhiTranslate="gestionFormationApp.immaDomaine.sfrImmaDomaine">Sfr Imma Domaine</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let immaDomaine of immaDomaines ;trackBy: trackId">
                    <td><a [routerLink]="['/imma-domaine', immaDomaine.id, 'view']">{{ immaDomaine.id }}</a></td>
                    <td>{{ immaDomaine.annee }}</td>
                    <td>{{ immaDomaine.superficeTotInventorie }}</td>
                    <td>{{ immaDomaine.superficieTotImmatricule }}</td>
                    <td>{{ immaDomaine.superficieTotEncadre }}</td>
                    <td>
                        <div *ngIf="immaDomaine.sfrImmaDomaine">
                            <a [routerLink]="['/sfr', immaDomaine.sfrImmaDomaine?.id, 'view']" >{{ immaDomaine.sfrImmaDomaine?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/imma-domaine', immaDomaine.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/imma-domaine', immaDomaine.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(immaDomaine)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="immaDomaines && immaDomaines.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
